<div id="footer">
  <ul>
  <il><a href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></il>
  <il><a href="http://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></il>
  <il><a href="http://google.com"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google</a></il>
  <il><a href="http://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></il>
</ul>
</div>
