<!-- la cover -->
<section id="cover">
      <div id="cover-caption">
        <div class="container">
          <div class="row">

          <div class="col-sm-10 col-sm-offset-1">

        <h1 class="display-1">Welcame to Munsc</h1>
        <p>Lorem ipsum  pariatur maxime, it nesciunt voluptatum  magni?</p>

    <!-- formulaire en ligne -->
    <form class="form-inline ">
      <div class="form-group has-success">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
      </div>
      <br> <br>
      <button type="submit" class="btn btn-default">Sign in</button>

      <br>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>

    </form>

         <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">&darr;</a>


          </div>
          </div>
        </div>
      </div>
</section>
