
/*cover*/

#cover {
  background: url('ville.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;

}


#cover-caption{
            width: 100%;
}


.vertical-spacer {
                height: 5em;
}


/* cover



#cover-caption {

      color: white;
      height: 100%;
      text-align: center;



}

#cover {
            width: 100%;
             background: url('images/paysage.jpg') center center no-repeat;
      background-size: cover;
      display: flex;


*/
